body {
  max-width: 1349px;
  margin: 0 auto;
  background-color: #000;
}
.background {
  max-width: 100%;
  max-height: 100%;
  background-color: black;
  background: url(./background\ 1.jpg) no-repeat;
}
main {
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: white;
}
/* Header */
.title-flex {
  display: flex;
  flex-direction: column;
}
.container {
  margin-left: 159px;
  max-width: 1030px;
}
.header {
  padding: 46px 177px 17px 0px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.header-logo {
  text-decoration: none;
  display: flex;
}
.header-img {
  z-index: 0;
  opacity: 0;
  margin: 5px 0px 9px 0px;
}
.hover-img {
  z-index: 1;
  opacity: 1;
  position: absolute;
  margin: 5px 0px 9px 0px;
}
.header-logo-title {
  margin-left: 8px;
  margin-top: 5px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
  color: white;
}
.header-logo-subtitle {
  margin-left: 8px;
  margin-top: 3px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: white;
}
.header-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  color: white;
  font-family: "Roboto";

  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}
/* grid */
.grid-container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 220px 220px;
  column-gap: 62px;
  row-gap: 78px;
}
.grid-title {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-family: "Roboto";

  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: white;
}
footer {
  padding-bottom: 15px;
  padding-top: 90px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: white;
  display: flex;
  justify-content: center;
}
.grid-img {
  background: linear-gradient(70deg, #fff, #000);
  width: 300px;
  height: 220px;
}

.btn {
  position: relative;
}
.img-btn {
  opacity: 0;
  position: absolute;
  width: 300px;
  height: 55px;
  background: #f26522;
  left: 0px;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.img-title {
  padding-top: 7px;
  padding-left: 16px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
}
.price-title {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  padding-top: 6px;
  padding-left: 16px;
}
/* view */
.view-flex {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

/* HOver */

.btn:hover .img-btn,
.grid-title {
  opacity: 1;
  transition: 0.1s linear;
  bottom: 0;
}

.btn:hover .grid-title {
  color: #f26522;
}

.top:hover .hover_img {
  color: #f26522;
  opacity: 1;
  z-index: 1;
  transition: 0.1s linear;
}
.top:hover .hover_img {
  opacity: 1;
  z-index: 1;
}

.contact-email:hover {
  color: #f26522;
  transition: all 0.1s;
}
.contact-phone:hover {
  color: #f26522;
  transition: all 0.1s;
  cursor: pointer;
}
.view-pseudo::after {
  content: "";
  margin: 0 16px;
  display: inline-flex;
  width: 7px;
  height: 7px;
  border-top: 1px #fff solid;
  border-right: 1px #fff solid;
  transform: rotate(45deg);
}
